[submodule "lib/npm"]
	path = lib/npm
	url = https://github.com/Enterprise-connect/ec-lib-npm.git
[submodule "lib/java"]
	path = lib/java
	url = https://github.com/Enterprise-connect/ec-lib-java.git
[submodule "examples/java/springboot"]
	path = examples/java/springboot
	url = https://github.com/Enterprise-connect/ec-example-springboot.git
[submodule "examples/nodejs/cf-node-app"]
	path = examples/nodejs/cf-node-app
	url = https://github.com/Enterprise-connect/ec-example-node-cf.git
[submodule "examples/ios"]
	path = examples/ios
	url = https://github.com/Enterprise-connect/ec-lib-ios.git
[submodule "examples/android"]
	path = examples/android
	url = https://github.com/Enterprise-connect/ec-lib-android.git
[submodule "examples/mqtt"]
	path = examples/mqtt
	url = https://github.com/Enterprise-connect/ec-mqtt.git
[submodule "examples/nodejs/ec-oracle-sample-app"]
	path = examples/nodejs/ec-oracle-sample-app
	url = https://github.com/Enterprise-connect/ec-example-node-oracledb.git
[submodule "examples/nodejs/ec-http-proxy-cf"]
	path = examples/nodejs/ec-http-proxy-cf
	url = https://github.com/Enterprise-connect/ec-http-proxy.git
[submodule "examples/ec-agent-cf-push"]
	path = examples/ec-agent-cf-push
	url = https://github.com/Enterprise-connect/ec-agent-cf-push.git
